<!DOCTYPE html>
<html>
  <head>
    <title>EcApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <% if customer_signed_in? %>
            <li>ユーザー</li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else admin_signed_in? %>
            <li>管理者</li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <div class="container">
      <% if flash.notice.present? %>
      <div class="alert alert-success"role="alert">
        <%= flash[:notice]%>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
